.catalog {
  padding-top: 28px;
  padding-bottom: 70px;

  @include tablet {
    padding-top: 10px;
  }

  &__header {
    font-size: 24px;
    margin-top: 5px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include small-tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      padding-top: 16px;
      margin-bottom: 19px;
    }
  }

  &__grid {
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    grid-template-areas: "choice choice choice catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft";

    @include tablet {
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: "catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft";
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft catalogPartLeft";
    }
  }

  #choice {
    grid-area: choice;
  }
  #catalog-part-left {
    grid-area: catalogPartLeft;
  }

  &__choice {

    @include tablet {
      display: none;
    }

    &__title {
      margin-bottom: 22px;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: var(--black-color);
    }

    &__categories {
      margin-bottom: 18px;
    }

    &__price {
      margin-bottom: 26px;
    }

    &__sale {
      margin-bottom: 18px;
    }

    &__color {
      margin-bottom: 81px;
    }

    &__subtitle {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: var(--grey-shade-color);
    }

    &__card picture {
      margin-left: -5%;
      width: 110%;
    }

    &__info {
      background: var(--black-color);
      border-radius: 10px;

      a {
        position: relative;
        margin: 0 0 30px 30px;
        margin-top: auto;
        display: flex;
        align-items: center;
        width: max-content;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        color: var(--violet-primary-color);
        outline: none;

        &:focus-visible::after {
          content: "";
          position: absolute;
          top: 100%;
          width: 95px;
          height: 2px;
          background-color: var(--violet-primary-color);
          animation: anim 0.3s ease;
        }
        &:focus-visible svg,
        &:focus-visible svg path {
          fill: var(--violet-primaryL-color);
          stroke: var(--light-color);
        }
        &:focus-visible svg circle {
          stroke: var(--violet-primary-color);
        }

        &:hover:after {
          content: "";
          position: absolute;
          top: 100%;
          width: 95px;
          height: 2px;
          background-color: var(--violet-primary-color);
          animation: anim 0.3s ease;
        }
        &:hover svg,
        &:hover svg path {
          fill: var(--violet-primary-color);
          stroke: var(--light-color);
        }

        &:active::after {
          content: "";
          position: absolute;
          top: 100%;
          width: 95px;
          height: 2px;
          background-color: var(--violet-primaryD-color);
          animation: anim 0.3s ease;
        }
        &:active {
          color: var(--violet-primaryD-color);
        }
        &:active svg,
        &:active svg path {
          fill: var(--violet-primaryD-color);
          stroke: var(--light-color);
        }
        &:active svg circle {
          stroke: var(--violet-primaryD-color);
        }

        @keyframes anim {
          0% {
            transform: scale(0, 0);
            transform-origin: left;
          }
          100% {
            transform: scale(1, 1);
            transform-origin: left;
          }
        }

        @include mobile {
          display: none;
        }

        svg {
          margin-left: 5px;
          transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
        }
      }
    }
  }

  &__filter {
    display: none;

    @include tablet {
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-gap: 32px;
      align-items: center;
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 16px;
    }

    @include mobile {
      grid-gap: 16px;
    }

    &__header {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: var(--black-color);

      @include small-tablet {
        grid-column: 1/7;
      }
    }
  }

  &__card {
    @include small-tablet {
      &:nth-child(n + 7) {
        display: none;
      }
    }
  }

  &__card-image {
    display: flex;
    margin: 0 auto;
  }

  .info-title {
    margin: 0;
    padding: 30px 0 0 30px;
    max-width: 199px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #d5b986;
  }

  .info-descr {
    padding: 0 0 12px 30px;
    max-width: 199px;
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-color);
  }
}
.tabs {
  @include tabs;

  &__panel,
  &__panel--active {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 420px;
    grid-gap: 30px;
    margin-bottom: 36px;

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 32px;
      grid-gap: 16px;
      grid-auto-rows: 278px;
    }
  }

  &__nav-item {
    &:first-child {
      margin-right: 10px;
    }
  }

  &__nav-btn {
    display: block;
    padding: 8px 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--violet-primary-color);
    border: 2px solid var(--violet-primary-color);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
      border 0.3s ease-in-out;

    @include tablet {
      padding: 6px 10px;
      margin-right: 0;
    }

    &:hover {
      background-color: var(--violet-primary-color);
      color: var(--light-color);
    }

    &:focus-visible {
      background-color: var(--violet-primaryL-color);
      color: var(--light-color);
      outline: none;
    }

    &:active {
      background-color: var(--violet-primaryD-color);
      color: var(--light-color);
      border: 1px solid var(--light-color);
    }
  }
}
