.offers {
  padding-top: 35px;
  padding-bottom: 35px;

  @include tablet {
    padding-top: 32px;
  }

  @include small-tablet {
    padding-top: 36px;
  }

  @include mobile {
    padding-top: 33px;
    padding-bottom: 60px;
  }

  &__block {
    position: relative;
  }

  &__swiper-button-prev {
    top: 3.5%;
    left: 93%;
    width: 32px;
    height: 32px;
    outline: none;

    svg,
    svg path,
    svg circle {
      transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
    }

    &:focus-visible svg,
    &:focus-visible path {
      fill: var(--violet-primaryL-color);
      stroke: var(--light-color);
    }

    &:focus-visible circle {
      stroke: var(--violet-primary-color);
    }

    &:hover svg,
    &:hover svg path {
      fill: var(--violet-primary-color);
      stroke: var(--light-color);
    }

    &:active svg,
    &:active svg circle,
    &:active svg path {
      fill: var(--violet-primaryD-color);
      stroke: var(--light-color);
    }

    @include tablet {
      left: 88.8%;
    }

    @include small-tablet {
      left: 80%;
    }

    @media (max-width: 620px) {
      top: 100%;
      left: 44%;
    }

    @include mobile {
      top: 107%;
      left: 38%;
    }
  }

  &__swiper-button-next {
    top: 3.5%;
    left: 96.4%;
    width: 32px;
    height: 32px;
    outline: none;

    svg,
    svg path,
    svg circle {
      transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
    }

    &:focus-visible svg,
    &:focus-visible path {
      fill: var(--violet-primaryL-color);
      stroke: var(--light-color);
    }

    &:focus-visible circle {
      stroke: var(--violet-primary-color);
    }

    &:hover svg,
    &:hover svg path {
      fill: var(--violet-primary-color);
      stroke: var(--light-color);
    }

    &:active svg,
    &:active svg circle,
    &:active svg path {
      fill: var(--violet-primaryD-color);
      stroke: var(--light-color);
    }

    @include tablet {
      left: 93.3%;
    }

    @include small-tablet {
      left: 86.6%;
    }

    @media (max-width: 620px) {
      top: 100%;
      left: 56%;
    }

    @include mobile {
      top: 107%;
      left: 52%;
    }
  }

  &__swiper-slide1,
  &__swiper-slide3,
  &__swiper-slide4,
  &__swiper-slide6 {
    display: flex;
    width: 23.12%;
    height: auto;

    @include tablet {
      width: 100%;
    }
  }

  &__swiper-slide2,
  &__swiper-slide5 {
    display: flex;
    width: 48.75%;
    height: auto;

    @include tablet {
      width: 100%;
    }
  }

  &__swiper-card {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding: 30px 41px 30px 30px;
    width: 100%;
    min-height: 450px;
    background-color: var(--greyF7-color);
    border-radius: 10px;
  }

  &__swiper-card2 {
    background-image: url("../img/main/offers/offers-bgi-2.webp");
    background-repeat: no-repeat;
    background-position: right 30px bottom 30px;

    @include tablet {
      background-image: none;
    }
  }

  &__swiper-card5 {
    background-image: url("../img/main/offers/offers-bgi-5.webp");
    background-repeat: no-repeat;
    background-position: right 30px bottom 30px;

    @include tablet {
      background-image: none;
    }
  }

  &__swiper-image {
    margin-bottom: 16px;
  }

  &__swiper-card-title {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    max-width: 98%;
    color: var(--black-color);
  }

  &__swiper-card-price {
    display: inline-block;
    margin-bottom: 23px;
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--orange-color);
  }

  &__swiper-card-price-old {
    display: inline-flex;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: var(--grey-color);
  }

  &__swiper-card-sale {
    position: absolute;
    top: 30px;
    left: 0;
    width: 60px;
    padding: 7px 14px 7px 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--light-color);
    background-color: var(--orange-color);
    z-index: 10;

    &::after {
      content: "";
      display: block;
      top: 15%;
      right: -11px;
      width: 10px;
      height: 12px;
      border-style: solid;
      border-width: 12px 12px 0px 0px;
      border-color: var(--orange-color);
      position: absolute;
      transform: rotate(45deg);
      z-index: 5;
    }
  }

  &__swiper-card-btn {
    display: block;
    padding: 17px 35px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--violet-primary-color);
    border: 2px solid var(--violet-primary-color);
    border-radius: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      outline 0.3s ease-in-out;

    &:focus {
      background-color: var(--violet-primaryL-color);
      color: var(--light-color);
      outline: 2px solid var(--violet-primary-color);
    }

    &:hover {
      background-color: var(--violet-primary-color);
      color: var(--light-color);
    }

    &:active {
      background-color: var(--violet-primaryD-color);
      color: var(--light-color);
    }
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
